* {
    font-family: 'Krona One', sans-serif;
    box-sizing: border-box;
    background-color: #a3c1ad;

}

body {
    background-image: url("../img/greenbinary.jpg");
    background-repeat: no-repeat;
    background-position: center;
}


h1 {
    text-align: center;
}

ul {
    list-style-type: square;
}

table{
    width: 75%;
    margin: auto;
    border: 2px black solid;
    border-collapse: collapse;
    padding: 10px;
}

th {
    background-color: #49796b;
    color: black;
    padding: 15px;
    border-bottom: 2px black solid;
    font-size: 1.5em;
}

#tableheader {
    text-align: center;
}

td {
    padding: 10px;
    text-align: center;
    font-size: 1em;
}

tr td{
    background: #d9eee1;
}

tr:hover td{
    background: #a0d6b4;
}

.fancy-header {
    color: purple;
    text-decoration: underline;
}

a:link {
    color: mediumblue;
}

a:visited {
    color: darkslateblue;
}

a:hover {
    color: black;
}

a:active {
    color: yellow;
}