/*

Add a style to change the table, table cells td and rows tr padding and font sizes.

Add a style to alter the anchor tags and its different states. (e.g. link, visited, hover and active).

Continue experimenting with styles to increase the visual appeal of the page.*/

* {
    font-family: 'Krona One', sans-serif;

}

body {
    background-color: black;
    background-image: url("../img/greenbinary.jpg");
    background-repeat: no-repeat;
    background-position: center;
    color: darkgray;
}

ul {
    list-style-type: square;
}

table {
    width: 50%;
    margin: auto;
    border: 2px gray solid;
    padding: 5px;
}

#tableheader {
    margin: auto;
}

.fancy-header {
    color: purple;
    text-decoration: underline;
}

