/*
Add a style to change the list-style to something other than the default bullet.

Add a style to change the font for the entire page. Use google fonts if you would like.

Add a style to change the table, table cells td and rows tr padding and font sizes.

Add a style to alter the anchor tags and its different states. (e.g. link, visited, hover and active).

Continue experimenting with styles to increase the visual appeal of the page.*/



h1  {
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    color: forestgreen;
    text-decoration: underline;
}

body {
    background-color: black;
    background-image: url("../img/greenbinary.jpg");
    background-repeat: no-repeat;
    background-position: center;
}




.fancy-header {
    color: purple;
    text-decoration: underline;
}